matplotlib
numpy<2
pygmt_helper @ git+https://github.com/ucgmsim/pygmt_helper@cylc
qcore @ git+https://github.com/ucgmsim/qcore@pegasus
pandas
parse
pytest
hypothesis[pandas, numpy]
pytest-cov
scipy
parse
typer

