matplotlib
numpy<2
pygmt_helper @ git+https://github.com/ucgmsim/pygmt_helper
qcore @ git+https://github.com/ucgmsim/qcore.git
pandas
parse
pytest
hypothesis[pandas, numpy]
pytest-cov
scipy
parse
typer

