name: Deptry Dependency Check

on: [pull_request]

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup the minimum required python distribution
      - uses: actions/setup-python@v5
      # Install deptry
      - run: pip install deptry
      # Install requirements
      - run: pip install -e .
      # Run deptry to check that all dependencies are present.
      - run: deptry . -ddg test
